# Top-level ignore
/target/
**/target/
/.idea/
.vscode/
node_modules/
**/node_modules/
.DS_Store
.env
/.mvn/
.classpath
.project

# Do not commit db connection secrets
dbconnections.json
**/dbconnections.json
