[DB_PARAM]
host = myyqsp-db.onsemi.com
user = DATAPORT_USER
password = REPLACE_WITH_SECRET
port = 1572
service_name = MYYQSP.onsemi.com
sid = MYYQSP

[DATA_PARAM]
start_date = 01-Jan-23 11.59.59.000000000 PM
end_date = 22-Apr-25 11.59.59.000000000 PM
tester_type = EAGLE
data_type = FT

[SENDER_PARAM]
sender_id = 22
#number of data to send so it will not affect the production data processing
number_of_data_to_send = 300
#count_limit_trigger - if the count in queue table is below this limit
#sender will process new data
count_limit_trigger = 600
list_file = /apps/exensio/historical/SBN/sbn_my1_ets88_ft_list.txt

[LOG]
log_file= /apps/exensio/historical/SBN/sbn_my1_ets88_ft_send.log

[EMAIL]
#comma separated for multiple recepients email1@onsemi.com,email2@onsemi.com
recepients = jovenkarlo.sorallo@onsemi.com
subject = CE-CE-2763
jira = https://jira.onsemi.com/browse/CE-2806
